@{
    ViewData["Title"] = "About";
}

<div class="about row rounded-2 shadow">
    <div class="hero p-2 text-light shadow">
        <div class="d-md-flex justify-content-md-between text-center" data-aos="fade-down">
            <div class="py-md-5 ps-4 text-md-start text-center">
                <h1>susFaceGen</h1>
                <p class="fs-4 fw-light">The next-generation application that uses generative AI <br> to create lifelike images of suspects from eyewitness accounts.</p>
            </div>
            
            <!-- Updated logo image tag -->
            <img src="~/images/susFaceGenLogo.webp" alt="susFaceGen Logo" width="250" height="250" class="logo-image img-fluid">
        </div>
    </div>

    <div class="p-3 px-5 mt-5 text-center text-light" data-aos="zoom-in">
        <h2 class="display-6">How can you identify a suspect when you only have a verbal description? </h2>
        <p class="fs-5 fw-light"> susFaceGen can help. It uses generative AI to produce realistic images of suspects from eyewitness reports. <br />susFaceGen is a powerful tool that can help law enforcement agencies create accurate and realistic images of suspects to aid in criminal investigations. The application is designed to be user-friendly and accessible to law enforcement agencies of all sizes.</p>
    </div>

    <div class="p-3 px-5 mt-5 text-center text-light" data-aos="zoom-in">
        <h2 class="display-6">How does susFaceGen do this? </h2>
        <p class="fs-5 fw-light"> susFaceGen leverages Open AI DALL·E 3, a cutting-edge text-to-image model that can understand complex prompts and generate images that match them. DALL·E 3 is a 12 billion parameter model that can create images with 4x greater resolution than previous versions.</p>
    </div>

    <div class="team col-md-8 mx-auto mt-5 text-center p-3 shadow rounded-3">
        <div class="row">
            <div class="col-md-7 mx-auto position-relative">
                <div class="position-absolute d-none d-md-block w-100 top-50 start-50 translate-middle">
                    <h2 class="display-6 text-light">Our Team</h2>
                    <p class="fs-5 fw-light">The team was formed to build an innovative software product for the Software Development Group Project in Informatics Institute of Technology, Sri Lanka.</p>
                </div>
                <div class="d-block d-md-none">
                    <h2 class="display-6 text-light">Our Team</h2>
                    <p class="fs-5 fw-light">The team was formed to build an innovative software product for the Software Development Group Project in Informatics Institute of Technology, Sri Lanka.</p>
                </div>

            </div>

            <div class="col-md-4 col-10 mx-auto">
                <div id="teamCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card bg-dark text-light">
                                <img src="~/images/Kavindu.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Kavindu Ranasinghe</h5>
                                    <p class="card-text">
                                        <span>w1901993</span><br />
                                        <span>kavindu.20212155@iit.ac.lk</span><br />
                                        <span><a href="https://www.linkedin.com/in/kavindu-ranasinghe-/" target="_blank"><i class="fa fa-linkedin-square fs-4 mt-3 text-light"></i></a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-dark text-light">
                                <img src="~/images/Thamindu.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Thamindu Nethmina</h5>
                                    <p class="card-text">
                                        <span>w1902034</span><br />
                                        <span>thamindu.20212175@iit.ac.lk</span><br />
                                        <span><a href="https://www.linkedin.com/in/thamindu-himansha-nethmina/" target="_blank"><i class="fa fa-linkedin-square fs-4 mt-3 text-light"></i></a></span>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-dark text-light">
                                <img src="~/images/Lahiru.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Lahiru Dilshan</h5>
                                    <p class="card-text">
                                        <span>w1902035</span><br />
                                        <span>lahiru.20212179@iit.ac.lk</span><br />
                                        <span><a href="https://www.linkedin.com/in/lahiru-dilshan-/" target="_blank"><i class="fa fa-linkedin-square fs-4 mt-3 text-light"></i></a></span>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-dark text-light">
                                <img src="~/images/Venushi.webp" class="card-img-top img-fluid" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Venushi Anuththara</h5>
                                    <p class="card-text">
                                        <span>W1902231</span><br />
                                        <span>venushi.20212149@iit.ac.lk</span><br />
                                        <span><a href="https://www.linkedin.com/in/venushi-anuththara" target="_blank"><i class="fa fa-linkedin-square fs-4 mt-3 text-light"></i></a></span>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card bg-dark text-light">
                                <img src="~/images/Thejan.webp" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Thejan Vithanage</h5>
                                    <p class="card-text">
                                        <span>w1902278</span><br />
                                        <span>thejan.20212196@iit.ac.lk</span><br />
                                        <span><a href="https://www.linkedin.com/in/thejanv/" target="_blank"><i class="fa fa-linkedin-square fs-4 mt-3 text-light"></i></a></span>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#teamCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="tech p-3 mt-5 text-center text-light">
        <h2 class="display-6">Technologies</h2>
        <p class="fs-5 fw-light">susFaceGen is built using the latest technologies to ensure that it is fast, reliable, and secure.</p>
        <div class="row justify-content-evenly">
            <div class="col-md-3" data-aos="zoom-in">
                <img src="~/images/openai-logo.png" class="img-fluid" alt="...">
                <h3>Open AI</h3>
                <p>Open AI DALL·E 3 is used to generate images of suspects from eyewitness reports.</p>
            </div>
            <div class="col-md-3" data-aos="zoom-in">
                <img src="~/images/dotnet-logo.png" class="img-fluid" alt="...">
                <h3>.NET Core</h3 data-aos="zoom-in">
                <p>.NET Core is used to build the backend of the application and provide a fast and reliable platform.</p>
            </div>
            <div class="col-md-3" data-aos="zoom-in">
                <img src="~/images/azure-logo.png" class="img-fluid" alt="...">
                <h3>Azure</h3>
                <p>Microsoft Azure is used to host the application and provide a secure and reliable platform.</p>
            </div>


        </div>
        <div class="row justify-content-evenly">
            <div class="col-md-3" data-aos="zoom-in">
                <img src="~/images/bs-logo.png" class="img-fluid" alt="...">
                <h3>Bootstrap</h3>
                <p>Bootstrap is used to create a responsive and user-friendly interface for the application.</p>
            </div>
            <div class="col-md-3" data-aos="zoom-in">
                <img src="~/images/github-logo.png" class="img-fluid" alt="...">
                <h3>GitHub</h3>
                <p>GitHub is used to manage the source code and provide version control for the application.</p>
            </div>

        </div>

    </div>








