@page
@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | susFaceGen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container d-flex align-content-center justify-content-center">
                <div class="text-light navbar-brand">
                    susFaceGen
                </div>
            </div>
        </nav>
    </header>
    <div class="row mx-auto ">
        <div class="col-lg-6 mx-auto login-container">
            <div class="row" data-aos="zoom-in">
                <div class="logo col-lg-6 d-lg-block rounded-3 shadow position-relative">
                    <div class="text-light d-none d-lg-block">
                        <img src="~/images/susFaceGenLogo.webp" alt="susFaceGen Logo" width="350" height="350" class="logo-image img-fluid shadow-lg rounded-circle">
                        <span class="display-4 fw-medium">susFaceGen</span>
                    </div>
                </div>
                <div class="inputs col-lg-6 col-10 mx-lg-0 mx-auto rounded-3 p-4 py-5 shadow m-lg-0 my-auto">
                    <div class="text-light text-center my-3 fs-3 mb-5">Sign in to our platform</div>
                    <form class="mt-3" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group mb-3">
                            <label class="text-light form-label" asp-for="Input.Email">Username</label>
                            <input asp-for="Input.Email" type="text" class="form-control" id="username" placeholder="Enter your username">
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-light form-label" asp-for="Input.Password">Password</label>
                            <input asp-for="Input.Password" type="password" class="form-control" id="password" placeholder="Enter your password">
                        </div>
                        <div class="mt-2 mb-2">
                            <div class="form-check float-sm-start text-center">
                                <label asp-for="Input.RememberMe" class="form-label text-light">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <div class="float-sm-end text-center">
                                <a class="link-primary text-decoration-none" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </div>
                        </div>

                        <div>
                            <button id="login-submit" type="submit" class="btn btn-primary w-100 mt-5 mb-3">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container text-center">
            &copy; 2024 - susFaceGen
        </div>
    </footer>
    <div id="pageLoading">
        <div class="spinner-grow position-absolute top-50 start-50 translate-middle text-white" role="status" style="height: 5rem; width: 5rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>   
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({ once: true, });
    </script>
    <script>
        $(window).on('beforeunload', function () {
            $('#pageLoading').show();
        });
        $(window).on('load', function () {
            $('#pageLoading').fadeOut();
        });
    </script>
</body>
</html>





