@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="text-light">@ViewData["Title"]</h1>
@{
    <p class="text-light">
        Please inform check email to confirm user account.
    </p>
}

